body{
font-family:"Roboto Condensed",Georgia;
background-color: white;
}


.navbar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
/* background-color: rgb(79, 59, 47); */
/* display: flex;
justify-content: center; */
}
li {
float:left;
font-size: 12pt;

}

/* ul li a {
  justify-content: center;
} */
li a,
.dropbtn {
display: inline-block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover,
      .dropdown:hover .dropbtn {
        background-color: tan;
        color: black;
      }
li.dropdown {
display: inline-block;
float: right;

}

.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
right:0;

}

.dropdown-content a {
color: rgb(79, 59, 47);
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
display: block;
}

.cuisineHeader {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(38, 28, 22);
  padding:10px 0px 10px 0px;
  text-align: center;
}
h1 {
  font-size: 15pt;
  color: white;
  text-shadow: 2px 2px 4px rgb(79, 59, 47);
}
h2{
  padding: 0px 50px;
  text-align: center;
}

.headermain {
  text-align: center;
  padding: 10px;
  background-color: rgb(38, 28, 22);
}



.mainp {
  color: white;
}

* {box-sizing: border-box}
body {font-family: Verdana, 
sans-serif; margin:0}
.mySlides {
display: flex; 
justify-content: center;
text-align: center;
background-color: rgb(38, 28, 22)}


/* Slideshow container */
.slideshow-container {
  max-width: 10000px;
  position: relative;
  margin: auto;
  height: 300px;
  
}
img{
height: 300px;
object-fit:contain;
position: center;
}

#homeImg{
  width: 100%;

}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: tan;
}

/* Caption text */
.homeImageCaption {
  color: White;
  text-shadow: 2px 2px 4px black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media only screen and (max-width:620px){
  .navbar,.headermain,.slideshow-container, .sidebysideContainer,.footerContainer{
    width:100%;
  }
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* Style the container/contact section */
.highlightRestaurants {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.sidebysideContainer {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.highlightRest{
  text-align:center;
  font-size: 14pt;

}
img {
  width: 100%;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

@media screen and (max-width: 620px){
  .table-responsive{
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
  }
}
  .table-responsive > .table {
      margin-bottom: 0;
  }
  

table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom:20px;

  width:100%;

}
table,td,th{
  border:black solid 1px;
  padding: 20px;
  text-align: center;
 
}
td,th{
  width:33%;
}
.restaurant{
font-size: 20pt;
font-weight: bold;;
}
.neighborhood{
font-size:12pt;
font-style: italic;
}
.open-hours{
font-size: 12pt;
}
.recs{
font-size:12pt;
}
a{
  text-decoration: none;
  color:black;
}

.restaurant a:hover{
text-decoration: none;
color: rgb(152, 88, 4);
}

.containersite{
  margin-left:auto;
  margin-right: auto;
  padding:0px 20px;
}
.containermap{
  padding:0px 80px;
}
hr{
  border: 1px lightgrey solid;
}
p a{
  text-decoration: none;
  color:rgb(219, 101, 28);
  text-align:center;
}
.topic{
  font-weight: bold;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Roboto Condensed",Georgia;
 
}
textarea{
 height: 170px;
}

button {
  background-color: rgb(38, 28, 22);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: tan;
  color:black;
}
#error{
  color:red;
  text-align: center;
  font-size: 10pt;
}

/* Style the container/contact section */
.containercontact {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.columncontact {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


footer{
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
 
  background-color: rgb(38, 28, 22);

}

.sitemap{
  color: white;
  font-weight: lighter;
}

.sitemap:hover{
  text-decoration: underline;
}
